

.container{
 display: grid;
 justify-content: center;
  width: 100%;
}

h2{
  font-family: "Tajawal", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
}
.item {
  display: inline-block;
  margin-right: 10px; /* Optional, for some space between items */
  color: gray;
  
}
.active-link {

  color: black;
  /* Additional styles for active link */
}
.card {
 

  width: 400px;
  height: 300px;
  background-color: #ffffff;
  padding: 10px 30px 40px;
  border: 1px solid #fff;
}

.card h3 {
  font-size: 22px;
  font-weight: 600;
  
}

.drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #fff;
  color: rgba(210, 220, 210, 0.708);;
  padding: 10px 20px;
  border: 1px solid rgba(210, 220, 210, 0.708);
  outline: none;
  transition: 0.3s;
}

.btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.3);;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}


.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
}
.form-style-6 h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 6%;
	color: #555;
	font: 95% 'Arial, Helvetica';
  width: 300px;
  border-radius: 10px;
  height: 120%;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 120%;
	padding: 6%;
	background:rgba(53, 178, 53, 0.708);
	border-bottom: 2px solid rgba(53, 178, 53, 0.708);
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
  border-radius: 10px;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background:rgba(53, 178, 53, 0.708);font-weight: bold;
}
label,p,h3{
  color:rgba(53, 178, 53, 0.708);font-weight: bold;
}
.item {
  display: inline-block;
  margin-right: 10px; /* Optional, for some space between items */
  color: gray;
  
}

a{
  text-decoration: none; /* Removes underline */
  color: #000;

}